@media (min-width: 768px){

#menuButton{
    display:none;
}

nav{
    display:flex;
    flex-direction:row;
    gap:1rem;
}

main{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

main h1{
    grid-column:1/3;
}

}